
table.tableizer-table {
    border-collapse: collapse;
    height:100vh;
    overflow-y:scroll;
    display:block;
  
    font-size: 0.5em;
    font-family: sans-serif;
    max-width: 100vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
    
} 

.background-monks{
    background-color: #282c34;



}

.tableizer-table td {
    
    color: white;
 
   

  
    

    
    
    
  
    border: 1px solid rgba(161, 127, 26);
}



.tableizer-table th {
    background-color: rgba(161, 127, 26);
    color: white;
    text-align: left;
}

.tableizer-table tbody tr {
    border-bottom: 1px solid #dddddd;
    

}

.tableizer-table tbody tr:nth-of-type(even) {
    background-color: #282c34;
}




.tableizer-table tbody tr:last-of-type {
    border-bottom: 2px solid red;
}

.tableizer-table{
    background-color: black;
}


.victory-0 {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-variant:small-caps;
    font-size: 250%;
    padding-top: 10%;
   
    
   
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  }

  .victory-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Permanent Marker', cursive;
    font-variant:small-caps;
    font-size: 150%;
    
   
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  }