form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 10%;

    background-color: #282c34;
    min-height: 100vh;
  
 
    font-size: calc(10px + 2vmin);
    color: white;
    
    



}




.fa-facebook{
    color: rgb(66, 103, 178) ;



}

.fa-instagram{
    color: rgb(253, 29, 29) ;



}