
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;


}

.contact-us-image{
  width: 100vw;
  height: auto;
}

.victory {
    position: relative;
    font-family: 'Permanent Marker', cursive;
    font-variant:small-caps;
    font-size: 250%;
    
   
    background-image: -webkit-linear-gradient(#FF0FF8 0%,  #F9F9F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  }

form {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding-left: 10%;
    padding-bottom: 10%;
    background-color: #282c34;
   
  
 
    font-size: calc(10px + 2vmin);
    color: white;
    
    



}






.fa-facebook{
    color: rgb(66, 103, 178) ;



}

.fa-instagram{
    color: rgb(253, 29, 29) ;



}