
table.tableizer-table {
    font-size: 40%;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
    
} 
.tableizer-table td {
    padding: 1%;
  
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}
